h1{
  color: red;
  text-align: center;

}
body{
  background-color: pink;

}
h2{
  color: blue;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
    height: auto;
  }
